<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>Scroll News</title>
         <meta http-equiv="refresh" content="1200; URL=">
        <link rel="stylesheet" href="/static/css/electricScoreboard.css">
    </head>
    <body>
        <p class="ledText"><span>{{ textStrings }}</span></p>
    </body>
    
    <form action="/result" method="get">
        <script langugage="javascript">
            setTimeout('document.forms[0].submit()',1100000)
        </script>
    </form>
</html>


